# игнорирование каталога tmp
tmp/

# игнорирование файлов с суффиксами _old, _backup
*_old

*_backup

# игнорирование файлов и катологов Thumbs.db
Thumbs.db

# игнорирование файлов с расширением .DS_Store
*.DS_Store